<!DOCTYPE html>
<html lang="en">
<head>
	
  <!-- Basic Page Needs -->
 <meta charset="utf-8">
 <meta name="author" content="digifiend">
 <meta name="description" content="Inspiring Worldwide Tasty Recipes">
 <title>Kaledo | Inspiring Worldwide Tasty Recipes </title>

 <!-- Mobile Specific Metas -->
 <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

 <!-- Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Righteous|Roboto:500" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC" rel="stylesheet">
	
 <!-- CSS -->
 <link rel="stylesheet" href="styles/main.css">

 <!-- JS  -->
 <script defer src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
 <script defer src="scripts/core.js"></script>
  <script defer src="scripts/home.js"></script>

 <!-- Favicon  -->
 <link rel="shortcut icon" href="assets/kaledo.ico" type="image/x-icon">
	
	
	
</head>
<body>
 
 <!-- Navigation Menu After Burger Icon Clicked -->
 <div class="navbar-expanded">
 	<ul class="menu-expanded">
		<a href="static/recipes.html"><li>Recipes</li></a>
		<a href="static/how-to.html"><li>How To</li></a>
	</ul>			
</div>

 <!-- Page Header -->
 <header class="header">
 	<a class="logo" href="index.html"><h1>Kaledo</h1></a>
	<nav class="navbar">
		<ul class="menu">
			<a href="static/recipes.html"><li>Recipes</li></a>
			<a href="static/how-to.html"><li>How To</li></a>
			
		</ul>			
	</nav>
		
		<a v-if="email !== null && email !== ''" class="profil-link-index" href="static/profil.html"><img class="profil-img" src="assets/circle-icons-profile.png" alt="profil picture"></a>
		
		<a v-else-if="email === null || email === ''" class="profil-link-index" href="static/signin.html"><img class="profil-img" src="assets/circle-icons-profile.png" alt="profil picture"></a>

	<a class="burger"><img src="assets/menu.svg" alt="menu icon"></a>
 </header>

 <!-- Main Section	 -->
 <main>

 	<!-- Search Box -->
	<div class="search-form">
		<input class="search-box" type="text" name="search-box" placeholder="Search Recipes Title">
		<a class="search-btn"><img src="assets/search.png" alt="search button"></a>
	</div>
		
	<!-- Slider Section Containing Round Thumbnail	 -->
	<section class="slider-container">
		<div class="slider">	
			<div v-for="recipe in recipes.slice().reverse()" class="round-thumbnail" v-bind:data-id="recipe.id" v-on:click="viewRecipe($event)">
				<img v-if="recipe.photos !== null" v-bind:src="recipe.photos" v-bind:alt="recipe.title">
	 			<img v-if="recipe.photos === null" src="assets/grey.jpg" v-bind:alt="recipe.title">
				<p class="round-title">{{ recipe.title }}</p>
			</div>		
		</div>			
	</section>
	
	<!-- Recent Recipes Container-->
	<section class="recent-recipes">

		<!-- Recent Recipe for Appetizers -->
		<div v-for="category in categories " class="recent-appetizer" >
			<div class="recent-heading"><h3>{{ category.categoryName  }}</h3></div>
			<div  v-for="(recipe,index) in category.recipeList.slice().reverse()" class="recent-data" v-bind:data-id="recipe.id" v-on:click="viewRecipe($event)">
				<img class="recent-thumb" v-if="recipe.photos !== null" v-bind:src="recipe.photos" v-bind:alt="recipe.title">
	 			<img class="recent-thumb" v-if="recipe.photos === null" src="assets/grey.jpg" v-bind:alt="recipe.title">
				<p class="recent-title">{{ recipe.title }}</p>
				<p class="recent-desc">{{ recipe.description }}</p>
				<!-- <div class="author-wrapper">
					<img class="user-thumb" v-if="recipe.profilPicture !== null" v-bind:src="recipe.profilPicture">
		 			<img class="user-thumb" v-if="recipe.profilPicture === null" src="../assets/grey.jpg">
					<p class="recent-author">By {{ recipe.firstName }} {{ recipe.lastName }}</p>
				</div> -->
			</div>
		</div>

	</section>
 </main>

 <!-- Footer -->
 <footer class="footer-search">
	<h1 class="logo-footer">Kaledo</h1>
	<ul class="list-footer">
		<li><a class="list-footer-item" href="static/faq.html">FAQ</a></li>
		<li><a class="list-footer-item" href="static/contact-us.html">Contact Us</a></li>
	</ul>
	<p class="copyright">&copy; Copyright 2018 Kaledo. All rights reserved</p>
 </footer>

<!-- End of the Document -->
</body>
</html>