<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
 <meta charset="utf-8">
 <meta name="author" content="digifiend">
 <meta name="description" content="Inspiring Worldwide Tasty Recipes">
 <title>Kaledo | Inspiring Worldwide Tasty Recipes </title>

 <!-- Mobile Specific Metas -->
 <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

 <!-- Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Righteous|Roboto:500" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	
 <!-- CSS -->
 <link rel="stylesheet" href="../styles/main.css">

 <!-- JS  -->
 <script defer src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
 <script defer src="../scripts/core.js"></script>
 <script defer src="../scripts/how-to.js"></script>

 <!-- Favicon  -->
 <link rel="shortcut icon" href="../assets/kaledo.ico" type="image/x-icon">

</head>
<body>
 <!-- Navigation Menu After Burger Icon Clicked -->
 <div class="navbar-expanded">
 	<ul class="menu-expanded">
		<a href="recipes.html"><li>Recipes</li></a>
		<a href="how-to.html"><li>How To</li></a>
	</ul>			
</div>

 <!-- Page Header -->
 <header class="header">
 	<a class="logo" href="../index.html"><h1>Kaledo</h1></a>
	<nav class="navbar">
		<ul class="menu">
			<a href="recipes.html"><li>Recipes</li></a>
			<a href="how-to.html"><li>How To</li></a>
		</ul>			
	</nav>
		<a v-if="email !== null && email !== ''" id="profil-link-index" href="profil.html"><img class="profil-img" src="../assets/circle-icons-profile.png"></a>
		
		<a v-else-if="email === null || email === ''" id="profil-link-index" href="signin.html"><img class="profil-img" src="../assets/circle-icons-profile.png"></a>

	<a class="burger"><img src="../assets/menu.svg"></a>
 </header>

 <!-- MAIN SECTION -->
 <main>

 	<!-- Search Box -->
	<div class="search-form">
		<input class="search-box" v-model="search" type="text" name="search-box" placeholder="Search How-To">
	</div>
	
	<section class="how-to-container">
		<article v-for="(howto, index) in filteredHowtos" class="how-to-data" v-bind:data-id="howto.id" v-on:click="viewHowto($event)">
			<div class="how-to-left">
				<img v-if="howto.thumbnail !== null" class="how-to-thumb" v-bind:src="howto.thumbnail">	
				<img v-else class="how-to-thumb" src="../assets/grey.jpg">	
			</div>
			<div class="how-to-right">
				<h3 class="how-to-title">{{ howto.title }}</h3>
				<p class="how-to-desc">{{ howto.articleList[0]['article'] }}</p>
				<div class="author-wrapper">
					<img class="user-thumb" v-if="users[index]['profilPicture'] !== null" v-bind:src="users[index]['profilPicture']">
		 			<img class="user-thumb" v-if="users[index]['profilPicture'] === null" src="../assets/grey.jpg">
					<p class="recent-author">By {{users[index]['firstName'] + users[index]['lastName']}}</p>
				</div>	
			</div>
		</article>
	</section>
 </main>

 <!-- Footer -->
 <footer class="footer-search">
	<h1 class="logo-footer">Kaledo</h1>
	<ul class="list-footer">
		<li><a class="list-footer-item" href="faq.html">FAQ</a></li>
		<li><a class="list-footer-item" href="contact-us.html">Contact Us</a></li>
	</ul>
	<p class="copyright">&copy; Copyright 2018 Kaledo. All rights reserved</p>
 </footer>

<!-- End of the Document -->
</body>
</html>