<!DOCTYPE html>
<html lang="en">
<head>

 <!-- Basic Page Needs -->
 <meta charset="utf-8">
 <meta name="author" content="digifiend">
 <meta name="description" content="Inspiring Worldwide Tasty Recipes">
 <title>Kaledo | Inspiring Worldwide Tasty Recipes </title>

 <!-- Mobile Specific Metas -->
 <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

 <!-- Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Righteous|Roboto:500" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Arimo:700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	
 <!-- CSS -->
 <link rel="stylesheet" href="../styles/main.css">

 <!-- JS  -->
 <script defer src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
 <script defer src="../scripts/core.js"></script>
 <script defer src="../scripts/view-howto.js"></script>

 <!-- Favicon  -->
 <link rel="shortcut icon" href="../assets/kaledo.ico" type="image/x-icon">

</head>
<body>

<!-- Navigation Menu After Burger Icon Clicked -->
 <div class="navbar-expanded">
 	<ul class="menu-expanded">
		<a href="recipes.html"><li>Recipes</li></a>
		<a href="how-to.html"><li>How To</li></a>
	</ul>			
</div>

 <!-- Page Header -->
 <header class="header">
 	<a class="logo" href="../index.html"><h1>Kaledo</h1></a>
	<nav class="navbar">
		<ul class="menu">
			<a href="recipes.html"><li>Recipes</li></a>
			<a href="how-to.html"><li>How To</li></a>
		</ul>			
	</nav>
		
		<a v-if="email !== null && email !== ''" id="profil-link-index" href="profil.html"><img class="profil-img" src="../assets/circle-icons-profile.png"></a>
		
		<a v-else-if="email === null || email === ''" id="profil-link-index" href="signin.html"><img class="profil-img" src="../assets/circle-icons-profile.png"></a>

	<a class="burger"><img src="../assets/menu.svg"></a>
 </header>

 <!-- MAIN SECTION -->
 <main>

	<section class="view-howto-container">
		<p class="view-howto-title">{{ howto.title }}</p>
		<img class="view-howto-thumb" v-if="howto.thumbnail !== null" v-bind:src="howto.thumbnail">
	 	<img class="view-howto-thumb" v-if="howto.thumnail === null" src="../assets/grey.jpg">	
		<div class="view-articles-container">
			<p v-for="article in howto.articleList" class="view-howto-article">{{ article.article }}</p>
		</div>

	</section>
 </main>

  <!-- Footer -->
 <footer>
	<h1 class="logo-footer">Kaledo</h1>
	<ul class="list-footer">
		<li><a class="list-footer-item" href="faq.html">FAQ</a></li>
		<li><a class="list-footer-item" href="contact-us.html">Contact Us</a></li>
	</ul>
	<p class="copyright">&copy; Copyright 2018 Kaledo. All rights reserved</p>
 </footer>

<!-- End of the Document -->
</body>
</html>